*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.start-section {
  background-image: url("src/Products/assets/front-bg.jpeg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0 20px;
  color: white;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.content-sect {
  max-width: 600px;
}

.content-sect h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
  font-weight: bold;
}

.content-sect p {
  font-size: 1.2rem;
  padding-right: 3rem;
  padding-top: 6rem;
  line-height: 1.5;
}

/* section 2 */
.expound-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-top: 4rem;
  background-color: white;
  gap: 30px;
  height: 100vh;
}

.sub-sect {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.sub-sect img {
  width: 100%;
  max-width: 300px;
  width: 280px;
  height: auto;
}

.txt-sect {
  text-align: center;
}

.txt-sect h1 {
  font-size: 2rem;
  font-weight: bold;
  color: black;
  margin-bottom: 1rem;
}

.txt-sect p {
  font-size: 1rem;
  font-weight: 600;
  color: black;
  text-align: center;
  margin-bottom: 2rem;
  max-width: 620px;
}

.learnmore-btn {
  background-color: transparent;
  color: black;
  border: 1px solid black;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 3rem;
  padding-right: 3rem;
  border-radius: 8px;
  font-size: 1rem;
  transition: background-color 0.4s ease-in-out, color 0.4s ease-in-out,
    border 0.4s ease-in-out;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.learnmore-btn:hover {
  background-color: black;
  color: white;
}

.learnmore-btn .fa-solid,
.learnmore-btn .fa-solid {
  padding-right: 0.6rem;
}

/* Section 3 */
.sokobeauty-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: black;
  padding: 4rem 1rem;
  padding-top: 5rem;
  color: white;
}

.sokobeauty-text {
  max-width: 600px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sokobeauty-text h1 {
  font-size: 34px;
  font-weight: bold;
  margin-bottom: 14px;
  text-align: center;
}

.sokobeauty-text p {
  font-size: 1rem;
  line-height: 1.5;
  text-align: center;
}

.learnmore-btn-sect3 {
  background-color: transparent;
  color: white;
  border: 1px solid white;
  border-radius: 8px;
  font-size: 1rem;
  padding: 8px 3rem;
  transition: background-color 0.4s ease-in-out, color 0.4s ease-in-out,
    border 0.4s ease-in-out;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}

.learnmore-btn-sect3:hover {
  background-color: white;
  color: black;
}

.learnmore-btn-sect3 .fa-solid,
.learnmore-btn-sect3 .fa-solid {
  padding-right: 0.6rem;
}

.sokobeauty-heading h1 {
  font-size: 3.5rem;
  font-weight: bold;
  text-align: center;
  padding-top: 10rem;
}

.soko-white {
  color: white;
}

.beauty-red {
  color: red;
}

/* Responsiveness */
@media (min-width: 480px) {
  .content-sect h1,
  .content-sect p {
    padding: 0;
  }

  .content-sect p {
    padding-top: 2.5rem;
  }

  .expound-section {
    padding: 4rem 1rem;
    height: 100%;
  }

  .txt-sect {
    padding: 0;
  }

  .learnmore-btn-sect3 {
    padding: 8px 3rem;
  }

  .sokobeauty-text p {
    padding: 0;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .sokobeauty-heading h1 {
    padding-top: 10rem;
  }
}

@media (min-width: 768px) {
  .expound-section,
  .sokobeauty-section {
    flex-direction: row;
    justify-content: space-between;
    padding: 4rem 5rem;
  }

  .sub-sect {
    flex-direction: row;
    text-align: left;
  }

  .learnmore-btn-sect3 {
    padding: 8px 3rem;
  }

  .content-sect {
    text-align: left;
  }

  .content-sect h1 {
    font-size: 2.5rem;
    padding-left: 6rem;
  }

  .content-sect p {
    font-size: 1.25rem;
    padding-left: 6rem;
  }

  .txt-sect p {
    font-size: 1rem;
  }
}

@media (min-width: 1024px) {
  .start-section {
    padding-left: 50px;
  }

  .content-sect p {
    padding-left: 6rem;
    padding-right: 4rem;
    padding-top: 0;
  }

  .expound-section,
  .sokobeauty-section {
    padding: 4rem 10rem;
  }

  .expound-section {
    margin: 0;
  }

  .sub-sect img {
    width: 300px;
  }

  .txt-sect {
    padding-left: 3rem;
    padding-right: 4rem;
  }

  .sokobeauty-heading h1 {
    font-size: 4.2rem;
  }

  .learnmore-btn,
  .learnmore-btn-sect3 {
    padding: 8px 3rem;
  }

  .sokobeauty-section {
    height: 100vh;
  }

  .sokobeauty-heading h1 {
    padding-top: 0;
  }

  .sokobeauty-text p {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
